[submodule "Engine/dependencies/GLFW"]
	path = Engine/dependencies/GLFW
	url = https://github.com/Mazi-S/glfw
	branch = master
[submodule "Engine/dependencies/spdlog"]
	path = Engine/dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
