[submodule "Engine/dependencies/GLFW"]
	path = Engine/dependencies/GLFW
	url = https://github.com/Mazi-S/glfw
	branch = master
[submodule "Engine/dependencies/spdlog"]
	path = Engine/dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "Engine/dependencies/glm"]
	path = Engine/dependencies/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Engine/dependencies/yaml-cpp"]
	path = Engine/dependencies/yaml-cpp
	url = https://github.com/Mazi-S/yaml-cpp.git
[submodule "Engine/dependencies/imgui"]
	path = Engine/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
